In [18]:
import cv2
import os
import csv

In [25]:
cap = cv2.VideoCapture('./video/VID_20231103_132944.mp4')
if not cap.isOpened(): 
    print("Could not open!")
else:
    print("Video read successful!")
    total_frames = int(cap.get(cv2.CAP_PROP_FRAME_COUNT))
    width  = int(cap.get(cv2.CAP_PROP_FRAME_WIDTH))
    height = int(cap.get(cv2.CAP_PROP_FRAME_HEIGHT))
    fps    = cap.get(cv2.CAP_PROP_FPS)
    print('Total frames: ' + str(total_frames))
    print('width: ' + str(width))
    print('height: ' + str(height))
    print('fps: ' + str(fps))
success, frame = cap.read()

Video read successful!
Total frames: 901
width: 1080
height: 1920
fps: 30.0

In [23]:
if not os.path.exists('./images'):
    os.makedirs('./images')

In [26]:

while success:
    frameId = int(round(cap.get(1))) #current frame number, rounded b/c sometimes you get frame intervals which aren't integers...this adds a little imprecision but is likely good enough
    
    if frameId % 5 == 0:
        cv2.imwrite("./images/Test_Image_1_%d.jpg" % frameId, image)
    success, image = cap.read()
cap.release()
print ("Complete")

Complete

In [34]:
filenames = os.listdir('./images/')
filenames = sorted(filenames,key= lambda x: int(x.split('_')[2])*100000 + int(x.split('_')[3][:-4]))

In [35]:
filenames[0]

'Test_Image_1_5.jpg'

In [36]:

csv_filename = 'labels.csv'

with open(csv_filename, 'w', newline='') as csvfile:
    csv_writer = csv.writer(csvfile)
    csv_writer.writerow(['file'])  # Write a header row

    for filename in filenames:
        csv_writer.writerow([filename[:-4]])

print(f'Filenames have been saved to {csv_filename}')

Filenames have been saved to labels.csv

In [38]:
import pandas as pd

In [39]:
data_frame = pd.read_csv('labels.csv')

In [40]:
data_frame

                   file  labels
0        Test_Image_1_5     NaN
1       Test_Image_1_10     NaN
2       Test_Image_1_15     NaN
3       Test_Image_1_20     NaN
4       Test_Image_1_25     NaN
...                 ...     ...
1119  Test_Image_2_4705     NaN
1120  Test_Image_2_4710     NaN
1121  Test_Image_2_4715     NaN
1122  Test_Image_2_4720     NaN
1123  Test_Image_2_4725     NaN

[1124 rows x 2 columns]

In [41]:
Vid1 = {
  0: 15,
  1: 30,
}

Vid2={
  2: 20,
  3: 60,
  4: 90,
  5: 100,
  6 : 105,
  7 : 130,
  8 :  156
}

In [97]:
data_frame.loc[data_frame['file'].isin([f'Test_Image_2_{x}' for x in range(130*6*5, 156*6*5+1, 5)]), 'labels'] = 8

In [84]:
print([f'Test_Image_1_{x}' for x in range(0,15*6*5+1,5)])

['Test_Image_1_0', 'Test_Image_1_5', 'Test_Image_1_10', 'Test_Image_1_15', 'Test_Image_1_20', 'Test_Image_1_25', 'Test_Image_1_30', 'Test_Image_1_35', 'Test_Image_1_40', 'Test_Image_1_45', 'Test_Image_1_50', 'Test_Image_1_55', 'Test_Image_1_60', 'Test_Image_1_65', 'Test_Image_1_70', 'Test_Image_1_75', 'Test_Image_1_80', 'Test_Image_1_85', 'Test_Image_1_90', 'Test_Image_1_95', 'Test_Image_1_100', 'Test_Image_1_105', 'Test_Image_1_110', 'Test_Image_1_115', 'Test_Image_1_120', 'Test_Image_1_125', 'Test_Image_1_130', 'Test_Image_1_135', 'Test_Image_1_140', 'Test_Image_1_145', 'Test_Image_1_150', 'Test_Image_1_155', 'Test_Image_1_160', 'Test_Image_1_165', 'Test_Image_1_170', 'Test_Image_1_175', 'Test_Image_1_180', 'Test_Image_1_185', 'Test_Image_1_190', 'Test_Image_1_195', 'Test_Image_1_200', 'Test_Image_1_205', 'Test_Image_1_210', 'Test_Image_1_215', 'Test_Image_1_220', 'Test_Image_1_225', 'Test_Image_1_230', 'Test_Image_1_235', 'Test_Image_1_240', 'Test_Image_1_245', 'Test_Image_1_250', 'Test_Image_1_255', 'Test_Image_1_260', 'Test_Image_1_265', 'Test_Image_1_270', 'Test_Image_1_275', 'Test_Image_1_280', 'Test_Image_1_285', 'Test_Image_1_290', 'Test_Image_1_295', 'Test_Image_1_300', 'Test_Image_1_305', 'Test_Image_1_310', 'Test_Image_1_315', 'Test_Image_1_320', 'Test_Image_1_325', 'Test_Image_1_330', 'Test_Image_1_335', 'Test_Image_1_340', 'Test_Image_1_345', 'Test_Image_1_350', 'Test_Image_1_355', 'Test_Image_1_360', 'Test_Image_1_365', 'Test_Image_1_370', 'Test_Image_1_375', 'Test_Image_1_380', 'Test_Image_1_385', 'Test_Image_1_390', 'Test_Image_1_395', 'Test_Image_1_400', 'Test_Image_1_405', 'Test_Image_1_410', 'Test_Image_1_415', 'Test_Image_1_420', 'Test_Image_1_425', 'Test_Image_1_430', 'Test_Image_1_435', 'Test_Image_1_440', 'Test_Image_1_445', 'Test_Image_1_450']

In [85]:
data_frame[ data_frame['file'].isin([f'Test_Image_1_{x}' for x in range(0,15*6*5+1,5)]) ]

                file  labels
0     Test_Image_1_5     0.0
1    Test_Image_1_10     0.0
2    Test_Image_1_15     0.0
3    Test_Image_1_20     0.0
4    Test_Image_1_25     0.0
..               ...     ...
85  Test_Image_1_430     0.0
86  Test_Image_1_435     0.0
87  Test_Image_1_440     0.0
88  Test_Image_1_445     0.0
89  Test_Image_1_450     0.0

[90 rows x 2 columns]

In [99]:
data_frame.to_csv('labels.csv', index=False)